<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Chats</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/mini_logo.png" type="image/x-icon">
    <link th:href="@{/css/message.css}" rel="stylesheet"  type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet"  type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome-ie7.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet" type="text/css" />

</head>
<body>

<body class="body">
<div class="page-header">
    <div class="header-logo">
        <div class="logo">
            <a href="/"><img src="/img/logo2.png" class="logo_png" alt=""/></a>
        </div>
    </div>
    <div class="header-menu">
        <ul class="menu-list" id="menuList">
            <li class="list-item"><a href="/rooms">Rooms</a></li>
            <li class="list-item"><a href="/chats" style="color: #74C69D;">Chats</a></li>
            <li class="list-item"><a href="/profile">Profile</a></li>
        </ul>
    </div>
    <div class="header-login">
        <a class="header-login-link" href="/loginUser"><div class="header-login-button">LOGIN</div></a>
    </div>
    <div class="logo">
        <button class="menu menu-icon" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened')); togglemenu()" aria-label="Main Menu">
            <svg width="50" height="60" viewBox="0 0 100 100">
                <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                <path class="line line2" d="M 20,50 H 80" />
                <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
            </svg>
        </button>
    </div>
</div>
<div class="page_content">
    <div class="chats-container">
        <div class="chats-block" id="user-chats">
        </div>
        <div class="chat-no-select">
            <h2 style="font-weight: 500;font-size: 30px;line-height: 45px;color: #8D8D8D;">Choose a chat</h2>
        </div>
        <div class="chat-messages hidden">
            <div id="chat-page" class="">
                <div class="chat-container">
                    <div id="username-page">
                        <div class="username-page-container">
                            <h1 class="title">Welcome!</h1>
                            <form id="usernameForm" name="usernameForm">
                                <div class="form-group">
                                    <input type="hidden" id="name"/>
                                    <input type="hidden" id="chatId"/>
                                    <input type="hidden" id="userId"/>
                                </div>
                                <div class="form-group">
                                    <button id="start" type="submit" class="accent username-submit">Start Chatting</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="chat-header">
                        <h2 id="chat__name"></h2>
                    </div>
                    <div class="connecting">
                        Connecting...
                    </div>
                    <ul id="messageArea">
                    </ul>
                    <form id="messageForm" name="messageForm" nameForm="messageForm">
                        <div class="form-group">
                            <div class="input-group clearfix">
                                <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                                <button type="submit" class="primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="chat-info">
            <div class="chat-roommates">
                <div class="chat-owner-block">
                    <div class="chat-owner-title">
                        Owner - <span class="chat-owner-count">1</span>
                    </div>
                    <div class="chat-owner">
                        <i style="background-color: rgb(33, 150, 243);">H</i>
                        <span>Hanov Aitkazinov</span>
                    </div>
                </div>
                <div class="chat-roommates-block">
                    <div class="chat-roommates-title">
                        Roommates - <span class="chat-roommates-count">3</span>
                    </div>
                    <div class="chat-owner">
                        <i style="background-color: rgb(87,153,122);">J</i>
                        <span>James Gordon</span>
                    </div>
                    <div class="chat-owner">
                        <i style="background-color: rgb(248,170,71);">A</i>
                        <span>Arkadi Paravozov</span>
                    </div>
                    <div class="chat-owner">
                        <i style="background-color: rgb(255,157,157);">R</i>
                        <span>Rose Malina</span>
                    </div>
                </div>
            </div>
            <div class="chat-settings">
                <div class="chat-btn-settings"><i class="fa fa-cog fa-fw"></i>Settings</div>
                <div class="chat-btn-leave">Leave</div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

    var menu_list = document.getElementById('menuList');
    menu_list.style.maxHeight = "0px";

    function togglemenu() {
        menu_list.style.color = "white";
        if (menu_list.style.maxHeight === "0px") {
            menu_list.style.maxHeight = "300px"
        }
        else {
            menu_list.style.maxHeight = "0px"
        }
    }
    'use strict';

    let rooms_info;
    let user_info;

    var usernamePage = document.querySelector('#username-page');
    var chatPage = document.querySelector('#chat-page');
    var usernameForm = document.querySelector('#usernameForm');
    var messageForm = document.querySelector('#messageForm');
    var messageInput = document.querySelector('#message');
    var messageArea = document.querySelector('#messageArea');
    var connectingElement = document.querySelector('.connecting');

    var stompClient = null;
    var username = null;
    var chatId = null;
    var profilePic = null;
    var userId = null;

    var colors = [
        '#A4C5E9', '#32c787', '#00BCD4', '#ff5652',
        '#ffc107', '#F2C2D4', '#FF9800', '#39bbb0',
        '#ED4477', '#B5F2E3', '#C0F8D1', '#D4BFFF'
    ];

    if (getCookie("Authorization") == null) {
        window.location.replace("/loginUser");
    }

    function connect(event) {
        username = document.querySelector('#name').value.trim();

        if(username) {
            usernamePage.classList.add('hidden');
            chatPage.classList.remove('hidden');

            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);

            stompClient.connect({}, onConnected, onError);
        }
        event.preventDefault();
    }

    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        console.log("Disconnected");
    }


    function onConnected() {
        chatId = document.querySelector('#chatId').value;
        userId = document.querySelector('#userId').value;

        // Subscribe to the Public Topic
        stompClient.subscribe('/topic/' + chatId, onMessageReceived);

        // Tell your username to the server
        stompClient.send('/app/chat.addUser/' + chatId,
            {},
            JSON.stringify({sender: username, type: 'JOIN', userId: username})
        )

        connectingElement.classList.add('hidden');
    }


    function onError(error) {
        connectingElement.textContent = error;
        connectingElement.style.color = 'red';
    }


    function sendMessage(event) {
        var messageContent = messageInput.value.trim();

        if(messageContent && stompClient) {
            var message = {
                sender: username,
                content: messageInput.value,
                type: 'CHAT',
                senderId: userId
            };

            stompClient.send('/app/chat.sendMessage/' + chatId,
                {}, JSON.stringify(message));
            messageInput.value = '';
        }
        event.preventDefault();
    }


    function onMessageReceived(payload) {
        var message = JSON.parse(payload.body);

        var messageElement = document.createElement('li');

        if(message.type === 'JOIN') {
            messageElement.classList.add('event-message');
            message.content = message.sender + ' joined!';
        } else if (message.type === 'LEAVE') {
            messageElement.classList.add('event-message');
            message.content = message.sender + ' left!';
        } else {
            messageElement.classList.add('chat-message');

            var userSender = rooms_info.users.find(user => user.id === message.senderId);
            if (userSender.profilePic != null) {
                var avatarElement = document.createElement('img');
                avatarElement.src = userSender.profilePic;
            } else {
                var avatarElement = document.createElement('i');
                var avatarText = document.createTextNode(message.sender[0]);
                avatarElement.appendChild(avatarText);
                avatarElement.style['background-color'] = getAvatarColor(message.sender);
            }

            messageElement.appendChild(avatarElement);

            var usernameElement = document.createElement('span');
            var usernameText = document.createTextNode(message.sender);
            usernameElement.appendChild(usernameText);
            messageElement.appendChild(usernameElement);

            var textElement = document.createElement('p');
            var messageText = document.createTextNode(message.content);
            textElement.appendChild(messageText);

            messageElement.appendChild(textElement);

            console.log(textElement);
            console.log(messageElement);
            messageArea.appendChild(messageElement);
            messageArea.scrollTop = messageArea.scrollHeight;
        }
    }


    function getAvatarColor(messageSender) {
        var hash = 0;
        for (var i = 0; i < messageSender.length; i++) {
            hash = 31 * hash + messageSender.charCodeAt(i);
        }

        var index = Math.abs(hash % colors.length);
        return colors[index];
    }

    function getHoursAndMinutes(dateString) {
        const date = new Date(dateString);
        const hours = date.getHours().toString().padStart(2, '0');
        const minutes = date.getMinutes().toString().padStart(2, '0');
        return `${hours}:${minutes}`;
    }

    usernameForm.addEventListener('submit', connect, true)
    messageForm.addEventListener('submit', sendMessage, true)

    function parseJwt(token) {
        let base64Url = token.split('.')[1];
        let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        let jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    function eraseCookie(name) {
        document.cookie = name + '=; Max-Age=-99999999;';
    }

    $(document).ready(function () {
        $('#user-chats').html('');
        $('.chat-info').hide();

        let myCookie = getCookie("Authorization");

        if (myCookie != null) {
            let resultC = parseJwt(myCookie);
            let email = resultC.sub;
            $('.header-login').html("<a class=\"header-login-link\" href=\"/profile\">\n" +
                "            <div class=\"header-login-button\">\n" +
                "                <i class=\"svg-icon fas fa-user-circle\" style=\"margin-right: 5px\"></i>" +
                email + "\n" +
                "            </div>\n" +
                "        </a>");

            $.ajax({
                type: "GET",
                headers: {'Authorization': myCookie},
                contentType: 'application/json',
                url: "getUser",
                data: {email: email},
                dataType: 'json',
                success: function (result) {
                    user_info = result;
                    $('#userId').val(user_info.id);
                    $('#name').val(result.first_name + " " + result.last_name);
                }
            });

            $.ajax({
                type: "GET",
                headers: {'Authorization': myCookie},
                contentType: 'application/json',
                url: "myRooms",
                data: {email: email},
                dataType: 'json',
                success: function (result) {
                    console.log(result);

                    result.forEach((item, i) => {
                        $('#user-chats').append(
                            "<div id=\"join"+item.id+"\" class=\"chat-block-nav\">\n" +
                            "                <div class=\"chat-nav-avatar\" style=\"background: "+ getAvatarColor(item.header) + ";\"></div>\n" +
                            "                <div class=\"chat-nav-title\" style=\"color: "+ getAvatarColor(item.header) + "\">" + item.header + "</div>\n" +
                            "            </div>");

                        $('#join' + item.id).on('click', function (event) {
                            //disconnect from previous chat
                            disconnect();

                            //get chat by id (ajax request)
                            $.ajax({
                                type: "GET",
                                headers: {'Authorization': myCookie},
                                contentType: 'application/json',
                                url: "room/getRoomById",
                                data: {id: item.id},
                                dataType: 'json',
                                success: function (resultRoom) {
                                    console.log(resultRoom);
                                    rooms_info = resultRoom;
                                    //setting chat id to new and setting other stuff
                                    $('#chatId').val(item.id);
                                    profilePic = user_info.profilePic;

                                    //clear previous chats and setting new
                                    messageArea.innerHTML = '';
                                    $('.chat-messages').show();
                                    $('.chat-messages').html();
                                    $('.chat-info').show().css({
                                        display: 'flex',
                                        flexDirection: 'column',
                                        justifyContent: 'space-between'
                                    });
                                    $('.chat-info').html();
                                    $('.chat-no-select').hide();
                                    result.forEach((j, i) => {
                                        $('#join' + j.id).removeClass('chat-selected');
                                    });
                                    $('#join' + item.id).toggleClass('chat-selected');

                                    //setting chat's owner
                                    console.log(rooms_info);
                                    var ownerIsHere = 0;
                                    var owner = rooms_info.users.find(user => user.email === rooms_info.owner);
                                    var html = "<div class=\"chat-roommates\">\n" +
                                        "    <div class=\"chat-owner-block\">";
                                    console.log(owner);
                                    if (owner !== undefined) {
                                        ownerIsHere++;
                                        var avatarElement;
                                        if (owner.profilePic == null) {
                                            avatarElement = "<i style='background-color:" + getAvatarColor(owner.first_name + ' ' + owner.last_name) + "'>" + owner.first_name[0] + "</i>";
                                        } else {
                                            avatarElement = "<img src='" + owner.profilePic + "'>";
                                        }
                                        html += "<div class=\"chat-owner-title\">\n" +
                                            "            Owner - <span class=\"chat-owner-count\">1</span>\n" +
                                            "        </div>\n" +
                                            "        <div class=\"chat-owner\">\n" +
                                            avatarElement +
                                            "            <span>" + owner.first_name + ' ' + owner.last_name + "</span>\n" +
                                            "        </div>\n" +
                                            "    </div>";
                                    }
                                    html += "<div class=\"chat-roommates-block\">\n" +
                                        "        <div class=\"chat-roommates-title\">\n" +
                                        "            Roommates - <span class=\"chat-roommates-count\">" + (item.users.length-ownerIsHere) + "</span>\n" +
                                        "        </div>\n";

                                    rooms_info.users.forEach((user, i) => {
                                        if (user.email !== rooms_info.owner) {
                                            var avatarElement;
                                            if (user.profilePic == null) {
                                                avatarElement = "<i style='background-color:" + getAvatarColor(user.first_name + ' ' + user.last_name) + "'>" + user.first_name[0] + "</i>";
                                            } else {
                                                avatarElement = "<img src='" + user.profilePic + "'>";
                                            }
                                            html += "        <div class=\"chat-owner\">\n" +
                                                "            "+ avatarElement +"\n" +
                                                "            <span>" + user.first_name + ' ' + user.last_name + "</span>\n" +
                                                "        </div>\n";
                                        }
                                    });
                                    html += "    </div>\n" +
                                        "</div>";
                                    $('.chat-info').html(html);
                                    $('.chat-info').append("<div class=\"chat-settings\">\n" +
                                        "                <div class=\"chat-btn-leave\" id=\"leave" + item.id + "\">Leave</div>\n" +
                                        "            </div>");

                                    $('#leave' + item.id).on('click', function () {
                                        $.ajax({
                                            type: "POST",
                                            headers: {'Authorization': myCookie},
                                            contentType: 'application/json',
                                            url: "/room/kickUser",
                                            data: JSON.stringify({"email" : email, "roomId" : item.id}),
                                            dataType: 'json',
                                            complete: function (result) {
                                                console.log(result.responseText);
                                                window.location.replace("/rooms");
                                            }
                                        });
                                    });

                                    //setting name of new chat
                                    console.log(rooms_info);
                                    $('#chat__name').html(rooms_info.header);
                                    console.log(rooms_info.messages);

                                    //connection
                                    connect(event);

                                    //output all messages
                                    rooms_info.messages.forEach((messageItem, i) => {

                                        var message = messageItem;
                                        var messageElement = document.createElement('li');

                                        if(message.type === 'JOIN') {
                                            messageElement.classList.add('event-message');
                                            message.content = message.sender + ' joined!';
                                        } else if (message.type === 'LEAVE') {
                                            messageElement.classList.add('event-message');
                                            message.content = message.sender + ' left!';
                                        } else {
                                            messageElement.classList.add('chat-message');

                                            var userSender = rooms_info.users.find(user => user.id === messageItem.senderId);
                                            if (userSender.profilePic != null) {
                                                var avatarElement = document.createElement('img');
                                                avatarElement.src = userSender.profilePic;
                                            }
                                            else {
                                                var avatarElement = document.createElement('i');
                                                var avatarText = document.createTextNode(message.sender[0]);
                                                avatarElement.appendChild(avatarText);
                                                avatarElement.style['background-color'] = getAvatarColor(message.sender);
                                            }

                                            messageElement.appendChild(avatarElement);

                                            var usernameElement = document.createElement('span');
                                            var usernameText = document.createTextNode(message.sender);
                                            usernameElement.appendChild(usernameText);
                                            messageElement.appendChild(usernameElement);

                                            var timestampElement = document.createElement('span');
                                            timestampElement.style.color = '#6e6e6e';
                                            timestampElement.style.fontSize = '12px';
                                            timestampElement.style.fontWeight = 'lighter';
                                            var timestampText = document.createTextNode("  " + getHoursAndMinutes(messageItem.createdAt));
                                            timestampElement.appendChild(timestampText);
                                            messageElement.appendChild(timestampElement);
                                        }
                                        var textElement = document.createElement('p');
                                        var messageText = document.createTextNode(message.content);
                                        textElement.appendChild(messageText);

                                        messageElement.appendChild(textElement);

                                        console.log(textElement);
                                        console.log(messageElement);
                                        messageArea.appendChild(messageElement);
                                        messageArea.scrollTop = messageArea.scrollHeight;
                                    });
                                },
                                error: function (e) {
                                    console.log(e);
                                }
                            });
                        });
                    });

                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    window.location.replace("/loginUser");
                }
            });
        } else {
            window.location.replace("/loginUser");
        }


    });

</script>
</body>
</html>