<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <title>Home</title>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"  type="text/css">
    <link th:href="@{/css/filter.css}" rel="stylesheet"  type="text/css">
    <link th:href="@{/css/templatemo-style.css}" rel="stylesheet"  type="text/css">


</head>
<body>

<header class="site-header" id="top">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="logo-wrapper">
                        <a class="navbar-brand" href="/">
                            <img src="/img/logo2.png" alt="rainbow template" title="rainbow template">
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/" class="link-home">Home</a></li>
                        <li><a href="/chats" class="link-about">Message</a></li>
                        <li><a href="/profile" class="link-portfolio">Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="s007" >
    <div class="form" style="max-width: 1170px;">
        <div class="inner-form">
            <div class="basic-search">
                <div class="input-field">
                    <div class="icon-wrap">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                            <path d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z"></path>
                        </svg>
                    </div>
                    <input id="header" type="text" placeholder="Search..." />
                    <div class="result-count">
                        <button class="btn-delete" id="filter">Filter</button>
                    </div>
                </div>
            </div>
            <div id="advance" class="advance-search">
                <span class="desc">Advanced Search</span>
                <div class="row">
                    <input type="number" id="minAgeLimit" class="fadeIn third" placeholder="minimum age limit">
                    <input type="number" id="maxAgeLimit" class="fadeIn third" placeholder="maximum age limit">
                    <input type="number" id="maxMembers" class="fadeIn third" placeholder="maximum members">
                    <select id="city" class="fadeIn third">
                        <option value="">- city -</option>
                        <option value="Nur-Sultan">Nur-Sultan</option>
                        <option value="Almaty">Almaty</option>
                        <option value="Shymkent">Shymkent</option>
                        <option value="Aktobe">Aktobe</option>
                        <option value="Karaganda">Karaganda</option>
                        <option value="Atyrau">Atyrau</option>
                        <option value="Taraz">Taraz</option>
                        <option value="Pavlodar">Pavlodar</option>
                        <option value="Semei">Semei</option>
                        <option value="Ust-Kamenogorsk">Ust-Kamenogorsk</option>
                        <option value="Kyzylorda">Kyzylorda</option>
                        <option value="Uralsk">Uralsk</option>
                        <option value="Kostanay">Kostanay</option>
                        <option value="Petropavlsk">Petropavlsk</option>
                        <option value="Taldykorgan">Taldykorgan</option>
                        <option value="Kokshetau">Kokshetau</option>
                    </select></div>

                <div class="fadeIn third">
                    <span class="desc"> Choose interests: </span>
                    <ul class="ks-cboxtags">
                        <li><input type="checkbox" id="checkboxOne" value="Football"><label for="checkboxOne">Football</label></li>
                        <li><input type="checkbox" id="checkboxTwo" value="Sport"><label for="checkboxTwo">Sport</label></li>
                        <li><input type="checkbox" id="checkboxThree" value="Basketball"><label for="checkboxThree">Basketball</label></li>
                        <li><input type="checkbox" id="checkboxFour" value="Books"><label for="checkboxFour">Books</label></li>
                        <li><input type="checkbox" id="checkboxFive" value="Movies"><label for="checkboxFive">Movies</label></li>
                        <li><input type="checkbox" id="checkboxSix" value="Painting"><label for="checkboxSix">Painting</label></li>
                        <li><input type="checkbox" id="checkboxSeven" value="TableGames"><label for="checkboxSeven">Table Games</label></li>
                        <li><input type="checkbox" id="checkboxEight" value="Music"><label for="checkboxEight">Music</label></li>
                        <li><input type="checkbox" id="checkboxNine" value="Twitch"><label for="checkboxNine">Twitch</label></li>
                        <li><input type="checkbox" id="checkboxTen" value="Netflix"><label for="checkboxTen">Netflix</label></li>
                        <li><input type="checkbox" id="checkboxEleven" value="Politics"><label for="checkboxEleven">Politics</label></li>
                        <li><input type="checkbox" id="checkboxTwelve" value="Tea"><label for="checkboxTwelve">Tea</label></li>
                        <li><input type="checkbox" id="checkboxThirteen" value="Swimming"><label for="checkboxThirteen">Swimming</label></li>
                        <li><input type="checkbox" id="checkboxFourteen" value="Beer"><label for="checkboxFourteen">Beer</label></li>
                        <li><input type="checkbox" id="checkboxFifteen" value="Bicycling"><label for="checkboxFifteen">Bicycling</label></li>
                        <li><input type="checkbox" id="checkbox16" value="TikTok"><label for="checkbox16">TikTok</label></li>
                        <li><input type="checkbox" id="checkbox17" value="Museum"><label for="checkbox17">Museum</label></li>
                        <li><input type="checkbox" id="checkbox18" value="Dance"><label for="checkbox18">Dance</label></li>
                        <li><input type="checkbox" id="checkbox19" value="Cooking"><label for="checkbox19">Cooking</label></li>
                        <li><input type="checkbox" id="checkbox20" value="Hockey"><label for="checkbox20">Hockey</label></li>
                        <li><input type="checkbox" id="checkbox21" value="Manga"><label for="checkbox21">Manga</label></li>
                        <li><input type="checkbox" id="checkbox22" value="MartialArts"><label for="checkbox22">Martial Arts</label></li>
                        <li><input type="checkbox" id="checkbox23" value="Marvel"><label for="checkbox23">Marvel</label></li>
                        <li><input type="checkbox" id="checkbox24" value="Running"><label for="checkbox24">Running</label></li>
                        <li><input type="checkbox" id="checkbox25" value="Gym"><label for="checkbox25">Gym</label></li>
                        <li><input type="checkbox" id="checkbox26" value="Skateboarding"><label for="checkbox26">Skateboarding</label></li>
                        <li><input type="checkbox" id="checkbox27" value="Singing"><label for="checkbox27">Singing</label></li>
                        <li><input type="checkbox" id="checkbox28" value="Karaoke"><label for="checkbox28">Karaoke</label></li>
                        <li><input type="checkbox" id="checkbox29" value="Memes"><label for="checkbox29">Memes</label></li>
                        <li><input type="checkbox" id="checkbox30" value="NFT"><label for="checkbox30">NFT</label></li>
                        <li><input type="checkbox" id="checkbox31" value="Fishing"><label for="checkbox31">Fishing</label></li>
                        <li><input type="checkbox" id="checkbox32" value="Investing"><label for="checkbox32">Investing</label></li>
                        <li><input type="checkbox" id="checkbox33" value="Cosplay"><label for="checkbox33">Cosplay</label></li>
                        <li><input type="checkbox" id="checkbox34" value="Bowling"><label for="checkbox34">Bowling</label></li>
                    </ul>
                </div>

                <div class="row third">
                    <div class="input-field">
                        <button id="search" class="btn-search">Search</button>
                    </div>
                    <a href="/createRoom" class="link-portfolio">Create Room</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about">
</div>


<footer>
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2022 <a href="#">Kezdesu</a>
                                <!-- | <em>Design: <a href="http://www.templatemo.com">templatemo</a></em> -->
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="social-icons">
                            <ul>
                                <li><a href="#" class="fb-link"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twiter-link"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="linkedin-link"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" class="rss-link"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

    let user_info;

    function parseJwt(token) {
        let base64Url = token.split('.')[1];
        let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        let jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    $(document).ready(function () {
        $('#about').hide();
        $('#advance').hide();
        $('#user__name').html('');
        let myCookie = getCookie("Authorization");
        var interests = [];

        $("input:checkbox").change(function() {
            if($(this).is(":checked")) {
                interests.push(this.value);
                console.log(this.value + " added");
            } else {
                let pos = interests.indexOf(this);
                interests.splice(pos, 1);
                console.log(this.value + " removed");
            }
        });

        $('#filter').click( function () {
            console.log("opened");
            if (!$('#advance').is(":visible")) {
                $('#advance').show();
                console.log("showing")
            }
            else {
                $('#advance').hide();
            }
        });

        if (getCookie("Authorization") != null) {
            $('#search').on('click', function () {
                $('#about').hide();
                $('#about').html('');
                let resultC = parseJwt(myCookie);
                let email = resultC.sub;
                let header = $('#header').val();
                let minAgeLimit = $('#minAgeLimit').val();
                let maxAgeLimit = $('#maxAgeLimit').val();
                console.log($('#maxAgeLimit').val());
                if ($('#maxAgeLimit').val().length < 1) {
                    maxAgeLimit = 120;
                }
                let maxMembers = $('#maxMembers').val();
                if ($('#maxMembers').val().length < 1) {
                    maxMembers = 20;
                }
                let city = $('#city').val();

                $.ajax({
                    type: "POST",
                    headers: {'Authorization': myCookie},
                    contentType: 'application/json',
                    url: "room/find/findRoom",
                    data: JSON.stringify({
                        email: email, city: city, header: header, minAgeLimit: minAgeLimit,
                        maxAgeLimit: maxAgeLimit, maxMembers: maxMembers, interests: interests
                    }),
                    dataType: 'json',
                    success: function (result) {
                        console.log(result);
                        result.forEach((item, i) => {
                            let count = item.members.length;
                            console.log(count);
                            if (count < item.maxMembers) {
                                $('#about').show();
                                $('#about').append("<div class=\"container\"><div class=\"about-content\"><div class=\"row\">" +
                                    "<div class=\"col-md-12\">" +
                                    "<div class=\"heading\">" +
                                    "<h2>" + item.header + "</h2>" + "</div>\n" +
                                    "</div>\n" +
                                    "</div>\n" +
                                    "<div class=\"row\">\n" +
                                    "<div class=\"col-md-12\">\n" +
                                    "<div class=\"description\">\n" +
                                    "<div class=\"col-sm-3 col-xs-12\"><h4>" + "Description</h4></div>" +
                                    "<div class=\"col-sm-9 col-xs-12\"><p>" + item.description + "</p></div>" + "<div class=\"col-sm-3 col-xs-12\"><h4>Age range: " +
                                    item.minAgeLimit + "-" + item.maxAgeLimit + "</h4></div>" + "<div class=\"col-sm-9 col-xs-12\"><h4>City: " +
                                    item.city + "</h4></div>" + "<div class=\"col-sm-3 col-xs-12\"><h4>Interests:</h4></div>\n" +
                                    "<div class=\"col-sm-9 col-xs-12\"><h4>" + item.interests + "</h4></div>\n" +
                                    "                    </div>\n" +
                                    "                </div>\n" +
                                    "            </div>\n" +
                                    "            <div class=\"row\">\n" +
                                    "                <div class=\"col-sm-3 col-xs-12\">\n" +
                                    "                    <div class=\"second-btn\">\n" +
                                    "                    </div>\n" +
                                    "                </div>\n" +
                                    "                <div class=\"col-sm-3 col-xs-12\">\n" +
                                    "                    <div class=\"second-btn\">\n" +
                                    "                    </div>\n" +
                                    "                </div>\n" +
                                    "                <div class=\"col-sm-3 col-xs-12\">\n" +
                                    "                    <div class=\"first-btn\">\n" +
                                    "                        <a>" + count + '/' + item.maxMembers + "</a>\n" +
                                    "                    </div>\n" +
                                    "                </div>\n" +
                                    "                <div class=\"col-sm-3 col-xs-12\">\n" +
                                    "                    <div class=\"first-btn\">\n" +
                                    "                        <a id=\"join"+item.id+"\" >Join us</a>\n" +
                                    "                    </div>\n" +
                                    "                </div>\n" +
                                    "            </div>\n" +
                                    "            <div class=\"row\">\n" +
                                    "                <div class=\"col-sm-3 col-xs-12\">\n" +
                                    "                    <div id=\"messages"+item.id+"\" class=\"second-btn\">\n" +
                                    "                    </div>\n" +
                                    "                </div>\n" +
                                    "            </div></div></div>");

                                $('#join' + item.id).on('click', function () {
                                    let resultC = parseJwt(myCookie);
                                    let email = resultC.sub;
                                    $.ajax({
                                        type: "POST",
                                        headers: {'Authorization': myCookie},
                                        contentType: 'application/json',
                                        url: "room/join",
                                        data: JSON.stringify({"email" : email, "roomId" : item.id}),
                                        dataType: 'json',
                                        complete: function (result) {
                                            console.log(item.id);
                                            console.log(result.responseText);
                                            if (result.responseText === "User was added to room. Chat was created.") {
                                                window.location.replace("/chats");
                                            }
                                            else {
                                                $('#messages' + item.id).html(result.responseText);
                                            }
                                        }
                                    });
                                });
                            }
                        })
                    },
                    error: function (e) {
                        console.log("ERROR: ", e);
                    }
                });
            });
        }

    });

</script>

</body>
</html>