<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <link th:href="@{/css/main.css}" rel="stylesheet"  type="text/css">
    <meta charset="UTF-8">
    <title>Rooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/mini_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome-ie7.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">
</head>
<body>

<body class="body">
<div class="page-header">
    <div class="header-logo">
        <div class="logo">
            <a href="/"><img src="/img/logo2.png" class="logo_png" alt=""/></a>
        </div>
    </div>
    <div class="header-menu">
        <ul class="menu-list" id="menuList">
            <li class="list-item"><a href="/rooms" style="color: #74C69D;">Rooms</a></li>
            <li class="list-item"><a href="/chats">Chats</a></li>
            <li class="list-item"><a href="/profile">Profile</a></li>
        </ul>
    </div>
    <div class="header-login">
        <a class="header-login-link" href="/loginUser"><div class="header-login-button">LOGIN</div></a>
    </div>
    <div class="logo">
        <button class="menu menu-icon" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened')); togglemenu()" aria-label="Main Menu">
            <svg width="50" height="60" viewBox="0 0 100 100">
                <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                <path class="line line2" d="M 20,50 H 80" />
                <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
            </svg>
        </button>
    </div>
</div>

<div class="page_content">
    <div class="container-first">
        <div class="content1" style="height: fit-content; flex-direction: column">
            <div class="input-field">
                <div class="input-inner">
                    <input id="header" type="text" placeholder="Search..." />
                    <div class="icon-wrap">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 20 20">
                            <path d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z"></path>
                        </svg>
                    </div>
                </div>
                <button class="btn-filter" id="filter">Filter</button>
            </div>
            <div id="advance" class="advance-search">
                <span class="desc">Advanced Search</span>
                <div class="row">
                    <input type="number" id="minAgeLimit" class="fadeIn" placeholder="minimum age limit">
                    <input type="number" id="maxAgeLimit" class="fadeIn" placeholder="maximum age limit">
                    <input type="number" id="maxMembers" class="fadeIn" placeholder="maximum members">
                    <select id="city" class="fadeIn third">
                        <option value="">- city -</option>
                        <option value="Nur-Sultan">Astana</option>
                        <option value="Almaty">Almaty</option>
                        <option value="Shymkent">Shymkent</option>
                        <option value="Aktobe">Aktobe</option>
                        <option value="Karaganda">Karaganda</option>
                        <option value="Atyrau">Atyrau</option>
                        <option value="Taraz">Taraz</option>
                        <option value="Pavlodar">Pavlodar</option>
                        <option value="Semei">Semei</option>
                        <option value="Ust-Kamenogorsk">Ust-Kamenogorsk</option>
                        <option value="Kyzylorda">Kyzylorda</option>
                        <option value="Uralsk">Uralsk</option>
                        <option value="Kostanay">Kostanay</option>
                        <option value="Petropavlsk">Petropavlsk</option>
                        <option value="Taldykorgan">Taldykorgan</option>
                        <option value="Kokshetau">Kokshetau</option>
                    </select>
                </div>

                <div class="row-interests">
                    <span class="desc"> Choose interests: </span>
                    <ul class="ks-cboxtags">
                        <li><input type="checkbox" id="checkboxOne" value="Football"><label for="checkboxOne">Football</label></li>
                        <li><input type="checkbox" id="checkboxTwo" value="Sport"><label for="checkboxTwo">Sport</label></li>
                        <li><input type="checkbox" id="checkboxThree" value="Basketball"><label for="checkboxThree">Basketball</label></li>
                        <li><input type="checkbox" id="checkboxFour" value="Books"><label for="checkboxFour">Books</label></li>
                        <li><input type="checkbox" id="checkboxFive" value="Movies"><label for="checkboxFive">Movies</label></li>
                        <li><input type="checkbox" id="checkboxSix" value="Painting"><label for="checkboxSix">Painting</label></li>
                        <li><input type="checkbox" id="checkboxSeven" value="TableGames"><label for="checkboxSeven">Table Games</label></li>
                        <li><input type="checkbox" id="checkboxEight" value="Music"><label for="checkboxEight">Music</label></li>
                        <li><input type="checkbox" id="checkboxNine" value="Twitch"><label for="checkboxNine">Twitch</label></li>
                        <li><input type="checkbox" id="checkboxTen" value="Netflix"><label for="checkboxTen">Netflix</label></li>
                        <li><input type="checkbox" id="checkboxEleven" value="Politics"><label for="checkboxEleven">Politics</label></li>
                        <li><input type="checkbox" id="checkboxTwelve" value="Tea"><label for="checkboxTwelve">Tea</label></li>
                        <li><input type="checkbox" id="checkboxThirteen" value="Swimming"><label for="checkboxThirteen">Swimming</label></li>
                        <li><input type="checkbox" id="checkboxFourteen" value="Beer"><label for="checkboxFourteen">Beer</label></li>
                        <li><input type="checkbox" id="checkboxFifteen" value="Bicycling"><label for="checkboxFifteen">Bicycling</label></li>
                        <li><input type="checkbox" id="checkbox16" value="TikTok"><label for="checkbox16">TikTok</label></li>
                        <li><input type="checkbox" id="checkbox17" value="Museum"><label for="checkbox17">Museum</label></li>
                        <li><input type="checkbox" id="checkbox18" value="Dance"><label for="checkbox18">Dance</label></li>
                        <li><input type="checkbox" id="checkbox19" value="Cooking"><label for="checkbox19">Cooking</label></li>
                        <li><input type="checkbox" id="checkbox20" value="Hockey"><label for="checkbox20">Hockey</label></li>
                        <li><input type="checkbox" id="checkbox21" value="Manga"><label for="checkbox21">Manga</label></li>
                        <li><input type="checkbox" id="checkbox22" value="MartialArts"><label for="checkbox22">Martial Arts</label></li>
                        <li><input type="checkbox" id="checkbox23" value="Marvel"><label for="checkbox23">Marvel</label></li>
                        <li><input type="checkbox" id="checkbox24" value="Running"><label for="checkbox24">Running</label></li>
                        <li><input type="checkbox" id="checkbox25" value="Gym"><label for="checkbox25">Gym</label></li>
                        <li><input type="checkbox" id="checkbox26" value="Skateboarding"><label for="checkbox26">Skateboarding</label></li>
                        <li><input type="checkbox" id="checkbox27" value="Singing"><label for="checkbox27">Singing</label></li>
                        <li><input type="checkbox" id="checkbox28" value="Karaoke"><label for="checkbox28">Karaoke</label></li>
                        <li><input type="checkbox" id="checkbox29" value="Memes"><label for="checkbox29">Memes</label></li>
                        <li><input type="checkbox" id="checkbox30" value="NFT"><label for="checkbox30">NFT</label></li>
                        <li><input type="checkbox" id="checkbox31" value="Fishing"><label for="checkbox31">Fishing</label></li>
                        <li><input type="checkbox" id="checkbox32" value="Investing"><label for="checkbox32">Investing</label></li>
                        <li><input type="checkbox" id="checkbox33" value="Cosplay"><label for="checkbox33">Cosplay</label></li>
                        <li><input type="checkbox" id="checkbox34" value="Bowling"><label for="checkbox34">Bowling</label></li>
                    </ul>
                </div>

                <div class="row-buttons">
                    <button id="search" class="btn-search">Search</button>
                    <a href="/createRoom" class="link-portfolio">Create Room</a>
                </div>
            </div>

            <div class="rooms-block">
                <fieldset class="rec-fieldset" id="about">
                </fieldset>
            </div>

            <div class="rooms-block">
                <fieldset class="rec-fieldset">
                    <legend>Recommended Rooms</legend>

                    <div class="room" style="outline: 5px solid #F2C2D4;">
                        <div class="profile-room-head">
                            <h3 class="profile-room-title">Find people for camp</h3>
                            <div class="profile-room-info">
                                <p>Age range: 14-16</p>
                                <p>City: Astana</p>
                            </div>
                            <div class="room-interests">
                                Interests:&nbsp;
                                <div class="profile-room-interest">Travel</div>
                                <div class="profile-room-interest matched-interest">Music</div>
                                <div class="profile-room-interest">Camp</div>
                                <div class="profile-room-interest matched-interest">Books</div>
                                <div class="profile-room-interest">Vampire</div>
                                <div class="profile-room-interest matched-interest">Tiktok</div>
                                <div class="profile-room-interest">Monster High</div>
                                <div class="profile-room-interest">Sport</div>
                                <div class="profile-room-interest">School</div>
                            </div>
                        </div>
                        <div class="room-buttons">
                            <div class="profile-room-count">
                                <i class="svg-icon fas fa-user-circle" style="margin-right: 5px"></i> 4/6
                            </div>
                            <div class="room-button">Join</div>
                        </div>
                    </div>

                    <div class="room">
                        <div class="profile-room-head">
                            <h3 class="profile-room-title">Find people for camp</h3>
                            <div class="profile-room-info">
                                <p>Age range: 14-16</p>
                                <p>City: Astana</p>
                            </div>
                            <div class="room-interests">
                                Interests:&nbsp;
                                <div class="profile-room-interest">Travel</div>
                                <div class="profile-room-interest matched-interest">Music</div>
                                <div class="profile-room-interest">Camp</div>
                                <div class="profile-room-interest matched-interest">Books</div>
                                <div class="profile-room-interest">Vampire</div>
                                <div class="profile-room-interest matched-interest">Tiktok</div>
                                <div class="profile-room-interest">Monster High</div>
                                <div class="profile-room-interest">Sport</div>
                                <div class="profile-room-interest">School</div>
                            </div>
                        </div>
                        <div class="room-buttons">
                            <div class="profile-room-count">
                                <i class="svg-icon fas fa-user-circle" style="margin-right: 5px"></i> 4/6
                            </div>
                            <div class="room-button">Join</div>
                        </div>
                    </div>

                </fieldset>
            </div>

        </div>
    </div>
</div>


<div class="page_footer">
    <div class="footer-box">
        <div class="footer-col1">
            &#169; 2023 All rights reserved
        </div>
        <div class="footer-col3" >
            <a href="#" >KEZDESY</a>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

    let user_info;

    if (getCookie("Authorization") == null) {
        window.location.replace("/loginUser");
    }

    var menu_list = document.getElementById('menuList');
    menu_list.style.maxHeight = "0px";

    function togglemenu() {
        menu_list.style.color = "white";
        if (menu_list.style.maxHeight === "0px") {
            menu_list.style.maxHeight = "300px"
        }
        else {
            menu_list.style.maxHeight = "0px"
        }
    }

    function parseJwt(token) {
        let base64Url = token.split('.')[1];
        let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        let jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    $(document).ready(function () {
        $('#about').hide();
        $('#advance').hide();
        $('#user__name').html('');
        let myCookie = getCookie("Authorization");
        var interests = [];

        $("input:checkbox").change(function() {
            if($(this).is(":checked")) {
                interests.push(this.value);
                console.log(this.value + " added");
            } else {
                let pos = interests.indexOf(this);
                interests.splice(pos, 1);
                console.log(this.value + " removed");
            }
        });

        $('#filter').click( function () {
            console.log("opened");
            if (!$('#advance').is(":visible")) {
                $('#advance').show();
                console.log("showing")
            }
            else {
                $('#advance').hide();
            }
        });

        if (getCookie("Authorization") != null) {
            let resultC = parseJwt(myCookie);
            let email = resultC.sub;
            $('.header-login').html("<a class=\"header-login-link\" href=\"/profile\">\n" +
                "            <div class=\"header-login-button\">\n" +
                "                <i class=\"svg-icon fas fa-user-circle\" style=\"margin-right: 5px\"></i>" +
                email + "\n" +
                "            </div>\n" +
                "        </a>");

            $.ajax({
                type: "GET",
                headers: {'Authorization': myCookie},
                contentType: 'application/json',
                url: "getUser",
                data: {email: email},
                dataType: 'json',
                success: function (result) {
                    user_info = result;
                }
            });

            $('#search').on('click', function () {
                $('#about').hide();
                $('#about').html('');
                let resultC = parseJwt(myCookie);
                let email = resultC.sub;
                let header = $('#header').val();
                let minAgeLimit = $('#minAgeLimit').val();
                let maxAgeLimit = $('#maxAgeLimit').val();
                console.log($('#maxAgeLimit').val());
                if ($('#maxAgeLimit').val().length < 1) {
                    maxAgeLimit = 120;
                }
                let maxMembers = $('#maxMembers').val();
                if ($('#maxMembers').val().length < 1) {
                    maxMembers = 20;
                }
                let city = $('#city').val();

                $.ajax({
                    type: "POST",
                    headers: {'Authorization': myCookie},
                    contentType: 'application/json',
                    url: "room/find/findRoom",
                    data: JSON.stringify({
                        email: email, city: city, header: header, minAgeLimit: minAgeLimit,
                        maxAgeLimit: maxAgeLimit, maxMembers: maxMembers, interests: interests
                    }),
                    dataType: 'json',
                    success: function (result) {
                        console.log(result);
                        $('#about').show();
                        $('#about').append("<legend>Search result:</legend>");
                        result.forEach((item, i) => {
                            console.log(item.users);
                            let count = item.users.length;
                            console.log(count);

                            if (count < item.maxMembers) {
                                // get the user interests

                                $('#about').append(
                                    "<div class=\"room\">\n" +
                                    "                        <div class=\"profile-room-head\">\n" +
                                    "                            <h3 class=\"profile-room-title\">" + item.header + "</h3>\n" +
                                    "                            <div class=\"profile-room-info\" id=\"messages"+item.id+"\" style='color: #2a6496'>\n" +
                                    "                            </div>\n" +
                                    "                            <div class=\"profile-room-info\">\n" +
                                    "                                <p>Description: " + item.description + "</p>\n" +
                                    "                            </div>\n" +
                                    "                            <div class=\"profile-room-info\">\n" +
                                    "                                <p>Age range: " + item.minAgeLimit + "-" + item.maxAgeLimit + "</p>\n" +
                                    "                                <p>City: " + item.city + "</p>\n" +
                                    "                            </div>\n" +
                                    "                            <div class=\"room-interests\" id=\"roomInterests" + item.id + "\">\n" +
                                    "                            </div>\n" +
                                    "                        </div>\n" +
                                    "                        <div class=\"room-buttons\">\n" +
                                    "                            <div class=\"profile-room-count\">\n" +
                                    "                                <i class=\"svg-icon fas fa-user-circle\" style=\"margin-right: 5px\"></i> " + count + '/' + item.maxMembers + "\n" +
                                    "                            </div>\n" +
                                    "                            <div class=\"room-button\" id=\"join"+item.id+"\">Join</div>\n" +
                                    "                        </div>\n" +
                                    "                    </div>"
                                    );

                                var userInterests = user_info.interests;
                                var roomInterests = item.interests;
                                $('#roomInterests' + item.id).append("Interests:&nbsp;");
                                for (var i = 0; i < roomInterests.length; i++) {
                                    var roomInterest = roomInterests[i];
                                    var matched = userInterests.includes(roomInterest);
                                    var interestClass = matched ? 'matched-interest' : '';
                                    var interestHtml = '<div class="profile-room-interest ' + interestClass + '">' + roomInterest + '</div>';
                                    $('#roomInterests' + item.id).append(interestHtml);
                                }

                                $('#join' + item.id).on('click', function () {
                                    let resultC = parseJwt(myCookie);
                                    let email = resultC.sub;
                                    $.ajax({
                                        type: "POST",
                                        headers: {'Authorization': myCookie},
                                        contentType: 'application/json',
                                        url: "room/join",
                                        data: JSON.stringify({"email" : email, "roomId" : item.id}),
                                        dataType: 'json',
                                        complete: function (result) {
                                            console.log(item.id);
                                            console.log(result.responseText);
                                            if (result.responseText === "User was added to room. Chat was created.") {
                                                window.location.replace("/chats");
                                            }
                                            else {
                                                $('#messages' + item.id).html(result.responseText);
                                            }
                                        }
                                    });
                                });
                            }
                        })
                    },
                    error: function (e) {
                        console.log("ERROR: ", e);
                    }
                });
            });
        }
    });

</script>

</body>
</html>