<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <title>Terms and Conditions for Kezdesy - TermsFeed</title>
    <link rel="shortcut icon" href="https://www.termsfeed.com/public/images/meta_og_image_livelink.png"
          type="image/x-icon">
</head>
<style>
    body {
        margin: 0;
        font-family: DM Sans, sans-serif;
    }

    /* Center the content */
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
        box-sizing: border-box;
    }

    /* Style the headings */
    h1 {
        font-size: 24px;
        font-weight: bold;
    }

    h2 {
        font-size: 18px;
        font-weight: bold;
    }

    /* Style the paragraphs */
    p {
        font-size: 16px;
        line-height: 1.5;
    }

    /* Style the unordered list */
    ul {
        list-style-type: disc;
        margin-left: 20px;
    }

    /* Style the list items */
    li {
        margin-bottom: 10px;
    }
</style>
<body>
<div class="container">
    <h1>Ережелер мен Шарттар</h1>
    <p>Соңғы жаңартылған: 11 мамыр 2023 ж.</p>
    <p>Біздің қызметті пайдаланбас бұрын осы Ережелер мен шарттарды мұқият оқып шығыңыз.</p>
    <h1> Түсіндіру және анықтамалар</h1>
    <h2>Түсіндіру</h2>
    <p> Бастапқы әріп бас әріппен жазылатын сөздер келесі шарттар орындалған кезде анықталған мағыналарға ие. Келесі
        анықтамалар сингулярлы немесе көпше түрде қолданылғанына қарамастан бірдей мағынаға ие болуы керек.</p>
    <h2>Анықтамалар</h2>
    <p>Осы ережелер мен шарттардың мақсаттары үшін:</p>
    <ul>
        <li>
            <p><strong>Филиалы</strong> "бақылау" 50% немесе одан да көп акцияларға, капиталға қатысу үлестеріне немесе
                директорларды сайлау кезінде дауыс беру құқығын беретін басқа да бағалы қағаздарға иелік етуді
                білдіретін қандай да бір Тараппен бақыланатын, бақыланатын немесе жалпы бақылауда болатын заңды тұлғаны
                білдіреді немесе басқа басқару органы.</p>
        </li>
        <li>
            <p><strong>Ел</strong> мыналарға жатады: Қазақстан</p>
        </li>
        <li>
            <p><strong>Компаниясы </strong> (осы Келісімде "Компания", "біз", "Біз" немесе "Біздің" деп аталады) АЯ,
                Түркістан көшесі, Астана 020000 мекенжайында орналасқан.</p>
        </li>
        <li>
            <p><strong>Құрылғы</strong> компьютер, ұялы телефон немесе сандық планшет сияқты қызметке қол жеткізе
                алатын кез келген құрылғыны білдіреді.</p>
        </li>
        <li>
            <p><strong> Қызмет</strong> веб-сайтқа жатады.</p>
        </li>
        <li>
            <p><strong> Үшінші тараптың әлеуметтік медиа қызметі</strong> үшінші тарап ұсынатын кез келген қызметтерді
                немесе мазмұнды (деректерді, ақпаратты, өнімдерді немесе қызмет көрсету қызметтерін қоса) білдіреді,
                олар қызмет арқылы көрсетілуі, қосылуы немесе қолжетімді болуы мүмкін.</p>
        </li>
        <li>
            <p><strong> Веб-сайт</strong> Kezdesy-ге сілтеме жасайды, <a href="http://www.kezdesy.ru "
                                                                         rel=" сыртқы nofollow noopener "
                                                                         target="_blank">http://www.kezdesy.ru </a></p>
        </li>
        <li>
            <p><strong>Сіз </strong> қызметке қол жеткізетін немесе оны пайдаланатын жеке тұлғаны немесе осындай жеке
                тұлға қызметке қол жеткізетін немесе оны пайдаланатын басқа заңды тұлғаны білдіреді.</p>
        </li>
    </ul>
    <h1> Растау</h1>
    <p> Бұл осы қызметті пайдалануды реттейтін ережелер мен шарттар және сіз бен компания арасында қолданылатын келісім.
        Осы Ережелер мен шарттар сервисті пайдалануға қатысты барлық пайдаланушылардың құқықтары мен міндеттерін
        белгілейді.</p>
    <p> Қызметке қол жеткізу және оны пайдалану Сіздің осы Ережелер мен шарттарды қабылдауыңызға және орындауыңызға
        байланысты. Осы Ережелер мен шарттар сервиске қол жеткізетін немесе пайдаланатын барлық келушілерге,
        пайдаланушыларға және басқа адамдарға қолданылады.</p>
    <p> Қызметке кіру немесе оны пайдалану арқылы сіз осы Ережелер мен шарттарды сақтауға келісесіз. Егер сіз осы
        Ережелер мен шарттардың кез келген бөлігімен келіспесеңіз, қызметке кіруге құқығыңыз жоқ.</p>
    <p>Сіз 18 жасқа толғаныңызды айтасыз. Компания 18 жасқа толмаған адамдарға қызметті пайдалануға рұқсат бермейді.</p>
    <p> Сіздің қызметке қол жетімділігіңіз және оны пайдалану компанияның құпиялылық саясатымен келісіміңізге және оның
        орындалуына байланысты. Біздің құпиялылық саясатымыз қолданбаны немесе веб-сайтты пайдаланған кезде жеке
        ақпаратыңызды жинау, пайдалану және ашу ережелері мен процедураларын сипаттайды және сізге құпиялылық
        құқықтарыңыз және заң сізді қалай қорғайтыны туралы айтады. Біздің қызметті пайдаланбас бұрын Құпиялылық
        саясатымызды мұқият қарап шығыңыз.</p>
    <h1> Басқа веб-сайттарға сілтемелер</h1>
    <p>Біздің қызметіміз компанияға тиесілі емес және бақыланбайтын үшінші тарап веб-сайттарына немесе қызметтеріне
        сілтемелерді қамтуы мүмкін.</p>
    <p> Компания кез-келген үшінші тарап веб-сайттарының немесе қызметтерінің мазмұнын, құпиялылық саясатын немесе
        тәжірибесін бақыламайды немесе жауап бермейді. Сіз сондай-ақ компанияның кез-келген осындай веб-сайттарда немесе
        қызметтерде немесе солар арқылы қол жетімді кез-келген осындай мазмұнды, тауарларды немесе Қызметтерді пайдалану
        немесе сену салдарынан туындаған немесе болуы мүмкін кез-келген залал немесе залал үшін тікелей немесе жанама
        түрде жауап бермейтіндігін мойындайсыз және келісесіз.</p>
    <p>Сіз кірген кез-келген үшінші тарап веб-сайттарының немесе қызметтерінің ережелері мен шарттары мен құпиялылық
        саясатымен танысуға кеңес береміз.</p>
    <h1> Аяқтау</h1>
    <p> Біз сіздің осы Ережелер мен шарттарды Бұзуыңызды қоса алғанда, бірақ олармен шектелмей, кез келген себеппен
        алдын ала ескертусіз немесе жауапкершіліксіз кіруіңізді дереу тоқтата немесе тоқтата аламыз.</p>
    <p>Шартты бұзғаннан кейін Сіздің қызметті пайдалану құқығыңыз дереу тоқтатылады.</p>
    <h1> Жауапкершілікті шектеу</h1>
    <p> Сіз келтіретін кез-келген зиянға қарамастан, осы Шарттардың кез-келген ережелеріне сәйкес Компанияның және оның
        кез-келген жеткізушісінің барлық жауапкершілігі және жоғарыда айтылғандардың барлығына қатысты Сіздің айрықша
        құралыңыз қызмет арқылы нақты төленген сомамен немесе егер сіз қызмет арқылы ештеңе сатып алмасаңыз, 100 АҚШ
        долларымен шектеледі. қызмет.</p>
    <p> Қолданыстағы заңнамамен рұқсат етілген ең жоғары дәрежеде Компания немесе оның жеткізушілері ешбір жағдайда
        қандай да бір ерекше, кездейсоқ, жанама немесе жанама түрде туындайтын залалдар (жоғалған пайдаға, деректердің
        немесе басқа ақпараттың жоғалуына, жұмыстағы үзіліске байланысты залалды қоса алғанда, бірақ онымен шектелмей)
        үшін жауап бермейді. сервисті, сервиспен пайдаланылатын үшінші тұлғалардың үшінші тарап бағдарламалық қамтамасыз
        етуін және/немесе аппараттық қамтамасыз етуін пайдалану немесе пайдалану мүмкін связанныестігінен немесе осы
        Шарттардың кез келген ережесіне байланысты өзге де тәсілмен туындайтын немесе қандай да бір түрде туындаған дене
        жарақаты, құпиялылықтың жоғалуы), Компания немесе кез-келген жеткізушіге мұндай зиян келтіру мүмкіндігі туралы
        ескертілсе де, тіпті егер бұл құрал өзінің негізгі мақсатына жетпесе де.</p>
    <p> Кейбір Штаттар болжамды кепілдіктерді алып тастауға немесе кездейсоқ немесе жанама залал үшін жауапкершілікті
        шектеуге жол бермейді, яғни жоғарыда аталған шектеулердің кейбірі қолданылмауы мүмкін. Бұл Штаттарда әр тараптың
        жауапкершілігі заңмен рұқсат етілген ең жоғары дәрежеде шектеледі.</p>
    <h1>"Қалай" және "қалай қол жетімді" Жауапкершіліктен бас тарту</h1>
    <p> Қызмет сізге "сол күйінде" және "қол жетімді" және барлық ақаулар мен ақаулармен кепілдік берілмейді.
        Қолданылатын заңнамада рұқсат етілген ең жоғары дәрежеде Компания өзінің және өзінің аффилиирленген
        тұлғаларының, сондай-ақ өзінің және олардың тиісті лицензиарлары мен қызмет көрсетушілерінің атынан тауардың
        жарамдылығына, жарамдылығына қатысты барлық болжамды кепілдіктерді қоса алғанда, қызметке қатысты заңда немесе
        өзге де тәсілмен анық, тұспалданатын барлық кепілдіктерден тікелей бас тартады коммерциялық мақсатта пайдалану
        үшін. белгілі бір мақсат үшін, Меншік құқығы және құқықтарды бұзбау, сондай-ақ іскерлік қатынастар, орындалу
        барысы, пайдалану немесе сауда тәжірибесі нәтижесінде туындауы мүмкін кепілдіктер. Жоғарыда айтылғандарды
        шектемей, Компания ешқандай кепілдік немесе міндеттеме бермейді және қызмет Сіздің талаптарыңызға сәйкес
        келетіні, қандай да бір жоспарланған нәтижелерге қол жеткізетіні, үйлесімді болатыны немесе кез келген басқа
        бағдарламалық жасақтамамен, қосымшалармен, жүйелермен немесе қызметтермен жұмыс істейтіні, үзіліссіз жұмыс
        істейтіні, қандай да бір талаптарға сай келетіні туралы ешқандай мәлімдеме жасамайды-немесе өнімділік немесе
        сенімділік стандарттары немесе қатесіз болуы немесе кез келген қателер немесе ақаулар түзетілуі немесе түзетілуі
        мүмкін.</p>
    <p> Жоғарыда айтылғандарды шектемей, Компания да, компанияның кез-келген қызмет провайдері де кез-келген түрдегі
        мәлімдемелер мен кепілдіктер жасамайды: (i) қызметтің жұмыс істеуіне немесе қол жетімділігіне, сондай-ақ оған
        енгізілген ақпаратқа, мазмұнға және материалдарға немесе өнімдерге қатысты; (ii) бұл Қызмет болады үздіксіз
        немесе қатесіз жұмыс істеу; (III) сервис арқылы ұсынылатын кез келген ақпараттың немесе мазмұнның дәлдігіне,
        сенімділігіне немесе өзектілігіне қатысты; немесе (iv) компаниядан немесе оның атынан жіберілген қызметте, оның
        серверлерінде, мазмұнында немесе электрондық пошталарында вирустар, сценарийлер, трояндық кон, құрттар, зиянды
        бағдарламалар, уақыт бомбалары немесе басқа зиянды компоненттер жоқ.</p>
    <p> Кейбір юрисдикцияларда тұтынушының қолданыстағы заңды құқықтарына кепілдіктердің немесе шектеулердің белгілі бір
        түрлерін алып тастауға жол берілмейді, сондықтан жоғарыда аталған кейбір ерекшеліктер мен шектеулер Сізге
        қолданылмауы мүмкін. Бірақ мұндай жағдайда осы бөлімде баяндалған ерекшеліктер мен шектеулер қолданыстағы
        заңнамада көзделген барынша мүмкін дәрежеде қолданылуы тиіс.</p>
    <h1>Қолданылатын құқық</h1>
    <p> Осы Шарттар мен Сіздің Сервисті пайдалануыңыз соқтығысу құқығының нормаларын қоспағанда, елдің заңдарымен
        реттеледі. Қолданбаны пайдалану басқа жергілікті, Штаттық, ұлттық немесе халықаралық заңдарға да қатысты болуы
        мүмкін.</p>
    <h1> Бөлу мүмкіндігі және Жауапкершіліктен бас тарту</h1>
    <h2> Бөлу</h2>
    <p> Егер осы шарттардың қандай да бір ережесі орындалмайтын немесе жарамсыз деп танылса, мұндай ереже Қолданыстағы
        заңнамаға сәйкес барынша мүмкін дәрежеде осындай ереженің мақсаттарына жету үшін өзгертіледі және түсіндіріледі,
        ал қалған ережелер толық күшін сақтайды.</p>
    <h2> Жауапкершіліктен бас тарту</h2>
    <p>Осы келісімде көзделген жағдайларды қоспағанда, осы шарттарға сәйкес құқықты орындамау немесе міндеттемені
        орындауды талап ету Тараптың мұндай құқықты жүзеге асыру немесе мұндай орындауды кез келген келесі уақытта талап
        ету
        қабілетіне әсер етпейді, ал бұзушылықтан бас тарту кез келген кейінгі бұзушылықтан бас тарту болып
        табылмайды.</p>
    <h1> Жазбаша аударма</h1>
    <p> Егер біз оларды біздің қызметімізде сізге қол жетімді етсек, бұл ережелер мен шарттар аударылған болуы
        мүмкін.
        Сіз ағылшын тіліндегі түпнұсқа мәтіннің дау туындаған жағдайда басым күшке ие екендігімен келісесіз.</p>
    <h1> Авторлық құқық саясаты</h1>
    <h2>Зияткерлік меншік құқығын бұзу</h2>
    <p>Мәтін, графика, логотиптер, суреттер және аудио клиптер сияқты осы веб-сайтта орналастырылған барлық
        мазмұн Kezdesy-дің ерекше меншігі болып табылады және халықаралық авторлық құқық туралы заңдармен қорғалған.
        Осы веб-сайтта ұсынылған сауда белгілері, қызмет көрсету белгілері, бренд атаулары және логотиптер Kezdesy
        компаниясының тіркелген және тіркелмеген сауда белгілері болып табылады және халықаралық сауда белгілері
        туралы заңдармен қорғалған. Kezdesy-дің алдын-ала жазбаша келісімінсіз осы веб-сайттың мазмұнын толық немесе
        ішінара пайдалануға, көбейтуге, өзгертуге, таратуға немесе қайта шығаруға қатаң тыйым салынады.</p>
    <h1> Мазмұны</h1>
    <h2>Мазмұнды орналастыру құқығыңыз </h2>
    <p> Пайдаланушыларға платформаға мәтін, суреттер және басқа ақпарат құралдары сияқты мазмұн жасауға
        және/немесе жүктеуге рұқсат етіледі. Осылайша, пайдаланушылар өздері жасайтын және/немесе
        жүктейтін мазмұн үшін жалғыз жауапты екенін және бұл үшін қажетті құқықтары бар екенін
        мойындайды.</p>
    <p> Пайдаланушылар заңсыз, әдепсіз, беделін түсіретін немесе басқаша қорлайтын немесе орынсыз
        мазмұнды орналастырмауға келіседі. Платформа осы шарттарды бұзатын кез келген мазмұнды жою және осы
        ережелерді бірнеше рет бұзған пайдаланушыларға қатысты тиісті шараларды қабылдау құқығын өзіне
        қалдырады.</p>
    <p> Платформаға мазмұн жасау және/немесе жүктеу арқылы пайдаланушылар платформаға платформаның
        қызметтеріне байланысты мазмұнды пайдалануға, көрсетуге, ойнатуға және таратуға эксклюзивті
        емес, дүниежүзілік, ақысыз лицензия береді. Пайдаланушылар сонымен қатар олардың мазмұнын
        платформаның басқа пайдаланушылары көре алатынын және мұндай мазмұнға қатысты құпиялылықты
        күтпейтінін мойындайды.</p>
    Платформа кез келген пайдаланушы мазмұнының дәлдігін, толықтығын немесе пайдалылығын мақұлдамайды
    немесе кепілдік бермейді және мұндай мазмұнды пайдалану нәтижесінде туындауы мүмкін кез келген
    шығындар, келтірілген залал немесе міндеттемелер үшін жауап бермейді. Пайдаланушыларға пайдаланушы
    жасаған мазмұнды қарау немесе оған сену кезінде сақтық пен парасаттылық таныту ұсынылады.</p>
    <p> Платформаға мазмұн құру және/немесе жүктеу арқылы пайдаланушылар платформаны және оның
        қосылған тұлғаларын, лауазымды тұлғаларын, агенттері мен қызметкерлерін платформаны
        пайдаланудан немесе осы Шарттар мен шарттарды бұзудан туындайтын немесе онымен байланысты кез келген
        шағымдардан, шығындардан немесе басқа міндеттемелерден өтеуге және қорғауға келіседі.</p>
    <h1> Пайдаланушы тіркелгілері</h1>
    <p> Пайдаланушылар тіркеу процесінде қажетті нақты және толық ақпаратты бере отырып, қызметте
        есептік жазбалар жасай алады. Есептік жазбаны құру арқылы сіз шынайы және жаңартылған ақпаратты
        беруге және есептік жазбаңыздың тіркелгі деректерін құпия ұстауға келісесіз. Сіз өзіңіздің
        есептік жазбаңызда болып жатқан барлық әрекеттер үшін және парольді сақтау үшін жауап
        бересіз.</p>
    <p> Компания кез келген уақытта кез келген себеппен кез келген адамға есептік жазбаны тіркеуден
        немесе қызметке кіруден бас тарту немесе тоқтату құқығын өзіне қалдырады. Сіз өзіңіздің
        есептік жазбаңызды рұқсатсыз пайдалану немесе кез-келген басқа қауіпсіздік бұзушылықтары
        туралы компанияға дереу хабарлауға келісесіз. Компания сіз осы ережені сақтамау нәтижесінде
        туындаған кез келген залал немесе залал үшін жауап бермейді.</p>
    <h1>Осы Ережелер мен Шарттардағы өзгерістер</h1>
    <p> Біз осы Шарттарды кез келген уақытта өзгерту немесе ауыстыру құқығын өз қалауымыз
        бойынша сақтаймыз. Егер өзгерістер айтарлықтай болса, біз сізге кез келген жаңа шарттар
        күшіне енгенге дейін кемінде 30 күн бұрын хабарлауға ақылға қонымды күш саламыз. Маңызды
        өзгеріс дегеніміз не, ол біздің қалауымыз бойынша анықталады.</p>
    <p> Осы өзгерістер күшіне енгеннен кейін біздің қызметке кіруді немесе пайдалануды
        жалғастыра отырып, сіз қайта қаралған шарттарды сақтауға келісесіз. Егер сіз жаңа
        шарттармен толық немесе ішінара келіспесеңіз, веб-сайт пен қызметті пайдалануды
        тоқтатыңыз.</p>
    <h1>Бізбен байланысыңыз</h1>
    <p>Егер сізде осы Ережелер мен шарттар туралы сұрақтарыңыз болса, бізбен байланыса
        аласыз:</p>
    <ul>
        <li>Пошта арқылы: kezdesy.kz@gmail.com</li>
    </ul>
</div>
</body>
</html>