<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/" style="background-color: #ffffff">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/login.css}" rel="stylesheet"  type="text/css">
    <title>Edit</title>
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active"> Change some data </h2>

        <div id="result_msg"></div>
        <input type="text" id="fname" class="fadeIn third" value="" name="login">
        <input type="text" id="lname" class="fadeIn third" value="" name="login" placeholder="last name">
        <input type="number" id="age" class="fadeIn third" value="" name="login" min="12">
        <select name="login" id="gender" class="fadeIn third">
            <option value="">- gender -</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <select name="login" id="city" class="fadeIn third">
            <option value="">- city -</option>
            <option value="Nur-Sultan">Nur-Sultan</option>
            <option value="Almaty">Almaty</option>
            <option value="Shymkent">Shymkent</option>
            <option value="Aktobe">Aktobe</option>
            <option value="Karaganda">Karaganda</option>
            <option value="Atyrau">Atyrau</option>
            <option value="Taraz">Taraz</option>
            <option value="Pavlodar">Pavlodar</option>
            <option value="Semei">Semei</option>
            <option value="Ust-Kamenogorsk">Ust-Kamenogorsk</option>
            <option value="Kyzylorda">Kyzylorda</option>
            <option value="Uralsk">Uralsk</option>
            <option value="Kostanay">Kostanay</option>
            <option value="Petropavlsk">Petropavlsk</option>
            <option value="Taldykorgan">Taldykorgan</option>
            <option value="Kokshetau">Kokshetau</option>
        </select>
        <button type="submit" id="editButton" class="fadeIn fourth">Update</button>

    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    if (getCookie("Authorization") == null) {
        window.location.replace("/loginUser");
    }

    let user_info;

    function parseJwt(token) {
        let base64Url = token.split('.')[1];
        let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        let jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    function eraseCookie(name) {
        document.cookie = name + '=; Max-Age=-99999999;';
    }

    $(document).ready(function () {
        let myCookie = getCookie("Authorization");
        let resultC = parseJwt(myCookie)
        let email = resultC.sub

        if (getCookie("Authorization") != null) {
            let resultC = parseJwt(myCookie);
            let email = resultC.sub;

            $.ajax({
                type: "GET",
                headers: {'Authorization': myCookie},
                contentType: 'application/json',
                url: "getUser",
                data: {email: email},
                dataType: 'json',
                success: function (result) {
                    user_info = result;
                    console.log(result);
                    $('#email').val(result.email);
                    $('#fname').val(result.first_name);
                    $('#lname').val(result.last_name);
                    $('#age').val(result.age);
                    $('#city').val(result.city);
                    $('#gender').val(result.gender);
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    window.location.replace("/loginUser");
                }
            });
        } else {
            window.location.replace("/loginUser");
        }

        $('#editButton').on('click', function () {
            let resultC = parseJwt(myCookie)
            let email = resultC.sub
            let fname = $('#fname').val();
            let lname = $('#lname').val();
            let age = $('#age').val();
            let gender = $('#gender').val();
            let city = $('#city').val();
            $.ajax({
                type: "POST",
                headers: {'Authorization': myCookie},
                contentType: 'application/json',
                url: "update",
                data: JSON.stringify({
                    email: email, first_name: fname,
                    last_name: lname, age: age, gender: gender, city: city
                }),
                dataType: 'json',
                complete: function (result) {
                    console.log(result.responseText);
                    if (result.responseText == "User updated") {
                        //console.log(123);
                        window.location.replace("/profile");
                    } else {
                        $('#result_msg').css("border", "1px solid red")
                        $('#result_msg').html(result.responseText);
                    }
                }
            })
        })



        }
    );
</script>
</html>